@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

@media (max-width: 767.98px) {
  .breakPoints {
    display: none;
  }

  .inputGroup {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 93%;
  }
}

@media (min-width: 768px) {
  .breakPoints {
    display: inline;
  }

  .inputGroup {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 62%;
  }
}

.borderRight {
  border-right: solid;
  border-color: rgba(126, 152, 223, 0.4);
}

.borderLeft {
  border-left: solid;
  border-color: rgba(126, 152, 223, 0.4);
}

.noMsg {
  padding-top: 350px;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #848484;
  font-weight: 700;
  text-align: center;
}

.chatBox {
  margin-top: 90px;
  height: 450px;
}

.nameBubble {
  font-size: 11px;
  margin-bottom: -9px;
  font-weight: 800;
  font-style: italic;
}

.bubbleChatLeft {
  font-family: "Rubik", sans-serif;
  text-align: start;
  background-color: #7e98df;
  max-width: 50%;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.bubbleChatLeft:hover {
  background-color: #7e98df;
}

.bubbleChatLeft:focus {
  background-color: #7e98df;
}

.bubbleChatRight {
  font-family: "Rubik", sans-serif;
  text-align: end;
  max-width: 50%;
  padding: 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pp {
  border-radius: 15px;
  width: 60px;
  height: 60px;
}

.pp:hover {
  cursor: pointer;
}

.friendName {
  font-family: "Rubik", sans-serif;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.165px;
}

.status {
  margin-top: -10px;
  margin-left: 20px;
  font-family: "Rubik", sans-serif;
  color: #7e98df;
  font-weight: 800;
  font-size: 14px;
}

.roomTitle {
  margin-top: 20px;
  position: fixed;
  top: 0;
  background-color: white;
  border-radius: 10px;
}

.suplement {
  background-color: white;
  border: none;
}

.suplement:hover {
  cursor: pointer;
  background-color: rgba(132, 132, 132, 0.4);
}

.input {
  border: none;
  background-color: #fafafa;
}

.input:focus {
  border-radius: 10px;
}
